@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1220px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: auto;
  margin-left: auto;
}

.banner {
  height: 958px;
  background-image: url(../image/banner.png);
  background-position: center;
}

hr {
  max-width: 384px;
}

.circle {
  display: inline-block;
  width: 22px;
  height: 22px;
  background-color: #891818;
  border-radius: 50%;
  vertical-align: middle;
}

.lh-7-5 {
  line-height: $base-number * 7.5;
}

.lh-9 {
  line-height: $base-number * 9;
}

.lh-26-5 {
  line-height: $base-number * 26.5;
}

.fz-16-sm {
  @include sm {
    font-size: $base-number * 16;
  }
}
