/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.df {
  display: flex;
}

.grid {
  display: grid;
}

.grid-col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-col-3 {
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 768px) {
  .grid-col1-sm {
    grid-template-columns: 1fr;
  }
}

.jcc {
  justify-content: center;
}

.jic {
  justify-items: center;
}

.jcsb {
  justify-content: space-between;
}

.aic {
  align-items: center;
}

.column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.flex-1 {
  flex-grow: 1;
}

.g-4 {
  gap: 16px;
}

.g-6 {
  gap: 24px;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.position-y-center {
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}

.w-100 {
  width: 100%;
}

.vh-100 {
  height: 100vh;
}

.fz-5 {
  font-size: 20px;
}

.fz-6 {
  font-size: 24px;
}

.fz-16 {
  font-size: 64px;
}

.fz-20 {
  font-size: 80px;
}

.fw-b {
  font-weight: bold;
}

.fs-i {
  font-style: italic;
}

.text-center {
  text-align: center;
}

.text-decoration-none {
  text-decoration: none;
}

.primary-color {
  color: #000;
}

.secondary-color {
  color: #fff;
}

.bg-primary {
  background-color: #000;
}

.bg-transparent {
  background-color: transparent;
}

.pt-14 {
  padding-top: 56px;
}

.pt-16 {
  padding-top: 64px;
}

.pb-16 {
  padding-bottom: 64px;
}

.pb-40 {
  padding-bottom: 160px;
}

.mb-1 {
  margin-bottom: 4px;
}

.mb-2 {
  margin-bottom: 8px;
}

.mb-3 {
  margin-bottom: 12px;
}

.mb-4 {
  margin-bottom: 16px;
}

.mb-5 {
  margin-bottom: 20px;
}

.mb-6 {
  margin-bottom: 24px;
}

.mb-7 {
  margin-bottom: 28px;
}

.mb-8 {
  margin-bottom: 32px;
}

.mb-10 {
  margin-bottom: 40px;
}

.mb-12 {
  margin-bottom: 48px;
}

.mb-16 {
  margin-bottom: 64px;
}

.mb-36 {
  margin-bottom: 144px;
}

.cursor-pointer {
  cursor: pointer;
}

.over-flow-hidden {
  overflow: hidden;
}

.border-none {
  border: none;
}

.background-primary {
  background-color: #000;
}

.hide {
  display: none;
}

.container {
  max-width: 1220px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: auto;
  margin-left: auto;
}

.banner {
  height: 958px;
  background-image: url(../image/banner.png);
  background-position: center;
}

hr {
  max-width: 384px;
}

.circle {
  display: inline-block;
  width: 22px;
  height: 22px;
  background-color: #891818;
  border-radius: 50%;
  vertical-align: middle;
}/*# sourceMappingURL=all.css.map */